// Body
$body-bg: #ffffff94;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #080a57 !default;

$extra : #080a57;
$extra2: #19bb88;
$extra3: #15926a;
$extra4: #28ac82;
$extra5: #76ecd9;

$registro: #abecd8;